<div class="sidebar-container">
  <div class="helpers-list">
    <div 
      *ngFor="let helper of helpers(); let i = index" 
      class="helper-card"
      tabindex="0"
      [class.active]="isHelperSelected(helper)"
      (click)="onHelperClick(helper)"
      [attr.data-helper-id]="helper._id"
    >
      <div class="helper-avatar">
        <!-- Always show initials avatar -->
        <div
          class="avatar-placeholder"
          [style.background-color]="getAvatarColor(i)"
        >
          {{ getInitials(helper.full_name) }}
        </div>
      </div>
      <div class="helper-info">
        <h3 class="helper-name">{{ helper.full_name }}</h3>
        <p class="helper-role">{{ helper.type_of_service }}</p>
        <p class="helper-duration">{{ getJoinedDuration(helper.joined_date) }}</p>
      </div>
      <div class="helper-extra">
        <p class="helper-stat">{{ helper.households || 0 }} Households</p>
      </div>
    </div>
  </div>
</div>